[project]
	description = Puppet Module to manage SELinux on RHEL machines
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Enman (enmand)
[access "refs/for/refs/*"]
	read = group user/Daniel Enman (enmand)
	push = group user/Daniel Enman (enmand)
	label-Code-Review = -2..+2 group user/Daniel Enman (enmand)
	label-Verified = -1..+1 group user/Daniel Enman (enmand)
	rebase = group user/Daniel Enman (enmand)
	removeReviewer = group user/Daniel Enman (enmand)
	submit = group user/Daniel Enman (enmand)
[access "refs/heads/*"]
	read = group user/Daniel Enman (enmand)
	create = group user/Daniel Enman (enmand)
	push = +force group user/Daniel Enman (enmand)
	pushMerge = group user/Daniel Enman (enmand)
[access "refs/tags/*"]
	push = +force group user/Daniel Enman (enmand)
	pushTag = group user/Daniel Enman (enmand)
	pushSignedTag = group user/Daniel Enman (enmand)
